<h1>Contact</h1>

<div class="form">
	<form action="/submit" method="post">
		<p>Interest of Study:</p>
			<select name="language">
				<option value="Select Option">Select Option</option>
				<option value="HTML/CSS">HTML/CSS</option>
				<option value="JavaScript">JavaScript</option>
				<option value="Ruby">Ruby</option>
			</select>
		<p>Name:</p><input type="text">
		<p>Email:</p><input type="text">
		<p>Comments, questions, and inquiries...</p><textarea type="text"></textarea>
		<input type="submit" value="Submit">
</div>
