<div class="form">
  <div class="contact_border">
    <h1>Contact</h1><hr>
    <div class="dropdown">
      <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select One
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#" value="HTML/CSS">HTML/CSS</a></li>
        <li><a href="#" value="JAVASCRIPT">JAVASCRIPT</a></li>
        <li><a href="#" value="RUBY">RUBY</a></li>
      </ul>
    </div>
    <br>
  	<form action="/submit" method="post">
      <div>
    		<p>Name:</p><input type="text" name="subject">
    		<p>Your E-mail:</p><input type="text" name="from">
    		<p>Tell us about yourself:</p>
        <textarea type="text" name="content"></textarea><br>
    		<input type="submit" class="btn btn-info" value="Submit">
      </div>
    </div>
</div>
