<div class="home">
	<div id="myModal" class="hidden">
		<div class="modal-content">
		<span class="close">&times;</span>
	    <img src="https://vectr.com/tmp/a8Pxm5hry/b1kv41pJo.svg?width=400&height=100&select=b1kv41pJopage0">
	    <h1>Sign up for our news letter!</h1>
	    <hr>
	    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    <p id="thanks"></p>
	    <input id ="emailSub" type="text" name="newsletter" placeholder="E-mail">
	    <button id="openForm" class="btn btn-info">Sign Up!</button>
		</div>
	</div>
  	<img src="https://vectr.com/tmp/a8Pxm5hry/a4Chy15S.svg?width=840&height=430&select=a4Chy15Spage0" alt="" width="100%">
  	<div class="row">
	  	<div class="col-md-12">
	  	<h3>About Us</h3>
		<h5>A NEW WAY OF THINKING</h5> 
		<p>It all starts here. A new career. A new life. A new set of skills that changes everything.</p>
		<p>We combine classroom instruction from experienced software developers and UX designers with a responsive and supportive community to take your ideas from theory to reality.</p>
		<p>If you want to do more than learn to code—if you want to truly become a code and design professional—you need more than just a book. You need the advice and support of people who are currently working in the field. That’s what we’re here for. Let’s get to work.</p>
		</div>
  </div>
</div>