<div class="service">
  <div class="row">
    <div class="col-md-4">
      <h1>thing1</h1>
    </div>
    <div class="col-md-4">
      <h1>thing2</h1>
    </div>
    <div class="col-md-4">
      <h1>thing3</h1>
    </div>
  </div>
</div>
