<div class="service">
  <div class="row">
    <div id="icon-box" class="col-md-4">
      <img src="http://solidfoundationwebdev.com/system/categories/images/000/000/004/original/html-css.png?1404763647" alt="" width="280">
      <hr>
      <p>HTML is the markup language that we use to structure and give meaning to our web content, for example defining paragraphs, headings, and data tables, or embedding images and videos in the page.</p>
      <p>CSS is a language of style rules that we use to apply styling to our HTML content, for example setting background colors and fonts, and laying out our content in multiple columns.</p>
      <br>
      <button type="button" class="btn btn-info" name="button"><a href="/contact">Apply now!</a></button>
    </div>
    <div id="icon-box" class="col-md-4">
      <img src="https://i.stack.imgur.com/Mmww2.png" alt="" width="190px" height="175px">
      <hr>
      <p>JavaScript is a programming language that enables you to implement complex things on web pages to create dynamically updating content, control multimedia, animate images, and pretty much everything else. It is the third layer of the layer cake of standard web technologies after HTML and CSS.</p>
      <br>
      <button id="jsButton" type="button" class="btn btn-info" name="button"><a href="/contact">Apply now!</a></button>
    </div>
    <div id="icon-box" class="col-md-4">
      <img src="http://blogs.microsoft.co.il/blogs/shayf/WindowsLiveWriter/GettingStartedWithDynamicLanguages_B665/ruby_logo_2.png" alt="" width="180" height="175px">
      <hr>
      <p>Ruby is an open source, interpreted , object-oriented programming language created by Yukihiro Matsumoto, who chose the gemstone's name to suggest "a jewel of a language." Ruby is designed to be simple, complete, extensible, and portable . Developed mostly on Linux , Ruby works across most platforms, such as most UNIX -based platforms, DOS, Windows, Macintosh, BeOS, and OS/2.</p>
      <br>
      <button id="rubyButton" type="button" class="btn btn-info" name="button"><a href="/contact">Apply now!</a></button>
    </div>
  </div>
</div>
