<div class= "team">
  <div class="row">
    <div class="col-md-12">
        <p>Jeremy</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <p>Paul</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <p>Chuks</p>
    </div>
  </div>
</div>
