<div class= "team">
  <div class="row">
    <div class="col-md-12">
      <img src="http://imgur.com/N2DK6BY.jpg" width="200px">
      <h3>Jeremy Leitmeyer</h3>
      <p>A bright, talented, ambitious, and self-motivated web designer with a strong technical background who possesses self-discipline and the ability to work with the minimum of supervision. Jeremy is able to play a key role throughout a sites development to ensure maximum accessibility, customer experience, and usability. He is a good team player who thrives on creating engaging creative solutions, is deadline orientated, and has the ability to produce detailed technical specifications from client requirements.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="http://i.imgur.com/P1fzXu0.jpg?2" width="200px">
      <h3>Paul Elion</h3>
      <p>An ambitious problem solver with a passion for online businesses, Paul has much experience creating logical and innovative solutions to complex problems. He is thorough and precise in everything he does, and has a keen interest in technology, mobile applications, and user experience. As someone who takes responsibility for his own personal development, he is continually evaluating and upgrading his skills so that he stays at the cutting edge of web development. He is a natural problem solver, who has proven himself by successfully completing projects for IT consultancies, software houses, web design agencies, and IT departments.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/1/000/108/137/1348e5e.jpg" width="200px">
      <h3>Chukwuemeka Onumaeme</h3>
      <p>A technically savvy web developer, who has multiple years of website design expertise behind him. Chukwuemeka can be a strong driving force for improving the performance, scalability, and reliability of development projects. He has a long track record of creating dynamic, rich, and interesting web portals, and of providing long term solutions to front-end problems. He has experience working in leading global internet technology companies and completing challenging client projects. As a self directed and self managed person, he is always pushing himself to deliver ongoing process improvements in anything he does.</p>
    </div>
  </div>
</div>
