body {
  padding-top: 50px;
  background-image: url("https://s3.envato.com/files/137980694/preview.jpg");
  background-size: cover;
  background-color: royalblue;
}

.home img {
  margin-bottom: 10px;
}

.home input {
  font-size: 16px;
  width: 200px;
  height: 35px;
}

.home .row {
  text-align: center;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 97%;
  border: 3px solid royalblue;
  background-color: white;
}

.team {
  
}

.team img {
  float: left;
  border: 2px solid royalblue;
  margin-top: 5px;
  margin-right: 15px;
}

.team .row {
  border: 3px solid royalblue;
  background-color: white;
  padding: 5px;
  margin: 10px;
  font-size: 18px;
}

.service {
  text-align: center;
  margin: 0 auto;
}

.service .row {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

.service button {
  margin-bottom: 10px;
}

.service img {
  margin-top: 10px;
}

.service .row .col-md-4 {
  display: inline-block;
  width: 400px;
  height: 520px;
  font-size: 16px;
  border: 3px solid royalblue;
  margin: 10px;
  padding: 2px;
  background-color: white;
}

.service .row .col-md-4 a {
  text-decoration: none;
  color: white;
}

.form textarea {
  width: 400px;
  height: 150px;
  resize: none;
}

.form .contact_border {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  text-align: center;
  width: 800px;
  border: 3px solid royalblue;
  background-color: white;
  font-size: 24px;
  padding: 5px;
}

.form h1 {
  font-size: 30px;
}

.form .dropdown .dropdown-menu {
  text-align: center;
  margin-left: 36%;
}

.form p {
  margin-top: 7px;
}

footer {
  border: 1px solid royalblue;
  background-color: white;
  text-align: center;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow:hidden;
}


#myModal {
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.hidden {
    display: none;
}

.modal-content {
    background-color: white;
    text-align: center;
    margin: 15% auto; 
    padding: 20px;
    border: 3px solid royalblue;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
